@font-face {
    font-family: 'EASTARJET-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/EASTARJET-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
/* 공통 css */
*{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'EASTARJET-Medium';
}
#wrap{
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
h1{
    font-size: 50px;
}
h1:after {
    display: block;
    width: 100px;
    border-bottom: solid 5px #00ecae;
    content: "";
    margin: 0 auto;
}
#wrapTop{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
#등록버튼 > input[type=button]{
    width: 150px;
    height: 100px;
    border: none;
    cursor: pointer;
    background-color: #00ecae;
    border-radius: 10px;
}
.wrapTopLeft{
    border: none;
    width: 380px;
    height: 50px;
}

.wrapBot{
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
}


.wrapBot >div { 
    width: 150px;
    
}

#wrapBotBot{
    width: 600px;
    height: 50px;
    background-color: #00ecae;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
#등록버튼꾸미기{
    border: none;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
}